## 08. Pandas DataFrames

### Note about Pandas `DataFrames`/`Series`
A `DataFrame` is a collection of `Series`; the `DataFrame` is the way Pandas represents a table, and `Series` is the data-structure Pandas use to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

### Selecting values
- To access a value at the position `[i,j]` of a `DataFrame`, we have two options, depending on what is the meaning of `i` in use. Remember that a `DataFrame` provides an index as a way to identify the rows of the table.

- A row, then, has a position inside the table as well as a label, which uniquely identifies its entry in the `DataFrame`.

In [1]:
import pandas
data = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

In [4]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

### `Use DataFrame.iloc[..., ...]` to select values by their (entry) position
- Can specify location by numerical index analogously to 2D version of character selection in strings.

In [7]:
data.iloc[0,2]

2312.888958

### Use `DataFrame.loc[..., ...]` to select values by their (entry) label.
- Can specify location by row name analogously to 2D version of dictionary keys.

In [14]:
data.loc["Albania":"Belgium", "gdpPercap_1962":"gdpPercap_1972"]

         gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Albania     2312.888958     2760.196931     3313.422188
Austria    10750.721110    12834.602400    16661.625600
Belgium    10991.206760    13149.041190    16672.143560

### Use `:` on its own to mean all columns or all rows.

- Would get the same result printing `data.loc["Albania"]` (without a second index).

- Would get the same result printing `data["gdpPercap_1952"]`
- Also get the same result printing `data.gdpPercap_1952` (since it’s a column name)

### Select multiple columns or rows using `DataFrame.loc` and a named slice.

- In the above code, we discover that slicing using loc is inclusive at both ends, which differs from slicing using iloc, where slicing indicates everything up to but not including the final index.

### Result of slicing can be used in further operations.
- E.g., calculate max of a slice.

### Use comparisons to select data based on value.

In [23]:
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
subset[subset > 10000]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

### Select values or NaN using a Boolean mask.

In [2]:
#

### Select-Apply-Combine operations
- Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyse their data.

- For instance, let’s say we want to have a clearer view on how the European countries split themselves according to their GDP.

 - We may have a glance by splitting the countries in two groups during the years surveyed, those who presented a GDP higher than the European average and those with a lower GDP.
 - We then estimate a wealthy score based on the historical (from 1962 to 2007) values, where we account how many times a country has participated in the groups of lower or higher GDP

- Finally, for each group in the `wealth_score` table, we sum their (financial) contribution across the years surveyed:

## Exercises

### Practice with Selection
Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:

- GDP per capita for all countries in 1982.
- GDP per capita for Denmark for all years.
- GDP per capita for all countries for years after 1985.
- GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.
Solutio